<accordion close-others="true">
<accordion-group heading="{{year.year}}" ng-repeat='year in years'>
  <div ng-repeat='event in year.events'>
    <div ng-bind='event.name'></div>
    <img ng-src='{{event.cover}}'>
    <div></div>
  </div>
</div>


<script id="template/accordion/accordion-group.html" type="text/ng-template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
      </h4>
    </div>
    <div class="panel-collapse" collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>
<script id="template/accordion/accordion.html" type="text/ng-template">
  <div class="panel-group" ng-transclude></div>
</script>
