<head>
            <link href="assets/stylesheets/custom.css" rel="stylesheet">
            <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
            <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <div class="home" id="home">
    	    	<div id="user-photo">
    	    			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10354078_881803278498402_6417331267732222433_n.jpg?oh=8caa83c7f2d323a8178771cef230a4f9&oe=550639F7&__gda__=1427317490_c598f2e2157ee188a3cd03a5bc47c1a1">
    	    		</div>
    	    		<div id="user-name">
    	    			<h1>程于晏</h1>
    	    		</div>
    	    		<div id="user-about">
    	    			<i class="icon-briefcase"></i><p>就讀台灣大學資訊管理系</p>
    	    			<i class="icon-map-marker"></i><p>現居台北市</p>
    	    			<i class="icon-home"></i><p>來自台北市</p>
    	    	</div>
    	    	<div class="menu">
    	    		<a href="place"><div id="nav1"><img src="/images/map.png"><p>打卡紀錄</p></div></a>
    	    		<a href="event"><div id="nav2"><img src="/images/event.png"><p>活動紀錄</p></div></a>
    	    		<a href="chart"><div id="nav3"><img src="/images/page.png"><p>粉絲專頁</p></div></a>
    	    	</div>
        </div>
</body>
