<style>
	#user-photo{
	text-align: center;
	}
	#user-photo img{
		border-radius: 200px;
		border: 5px white solid;
		padding: 3px;
		margin-top: 30px;
		width: 100px;
	}
	h1{
		text-align: center;
	}
	.map{
		text-align: center;
	}
	.back .button{
		color: white;
	}
	.back{
		position: fixed;
		margin: 20px;
	}
</style>

<div class="back"><a class="button" href="/"><i class="icon-chevron-left icon-white"></i>Back to home</a></div>
<div id="user-photo">
    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10354078_881803278498402_6417331267732222433_n.jpg?oh=8caa83c7f2d323a8178771cef230a4f9&oe=550639F7&__gda__=1427317490_c598f2e2157ee188a3cd03a5bc47c1a1">
</div>
<h1>我的打卡紀錄</h1>
</br>
<div class="map">
  <div id="map" style='height: 500px; width:100%;'></div>
</div>
